CCO_URL=
CCO_USER_INFO_ENDPOINT=
DATABASE_PASSWORD=
DATABASE_URL=
DATABASE_USERNAME=
FLYWEIGHT_EQUIPAMENTO_MAX=
FRONTEND_URL=
MONGODB_DATABASE_NAME=
MONGODB_DATABASE_URL=
MS_EXCHANGE_NAME=
MS_TELEMETRIA_QUEUE_NAME=
RABBITMQ_HOST=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
ROUTING_KEY_TELEMETRIA=
SERVER_PORT=