spring.application.name=harpia-ms-telemetria

### Persistencia
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

mongodb.database.url=
mongodb.database.name=
### Persistencia

### RabbitMQ
spring.rabbitmq.host=
spring.rabbitmq.port=
spring.rabbitmq.virtual-host=
spring.rabbitmq.ssl.enabled=
spring.rabbitmq.ssl.verify-hostname=
spring.rabbitmq.ssl.key-store=
spring.rabbitmq.ssl.key-store-password=
spring.rabbitmq.ssl.key-store-type=
spring.rabbitmq.ssl.trust-store=
spring.rabbitmq.ssl.trust-store-password=
spring.rabbitmq.ssl.trust-store-type=

ms-telemetria.queue.name=
ms.exchange.name=
routing-key.telemetria=
### RabbitMQ

flyweight.equipamento.max=

### gRPC
grpc-cco.server.host=
grpc-cco.server.port=

grpc.api-key=
### gRPC

### Fallback
fallback.url=
fallback.service-name=
### Fallback